NEXT_PUBLIC_APP_NAME="appname"
NEXT_PUBLIC_UPLOADS_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://user:1234@db:5432/dbName"

JWT_ACCESS_SECRET="access_secret_long"
JWT_REFRESH_SECRET="refresh_secret_long"

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d